// Start Global Rules-----------------------------
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-clr: #2196f3;
  --main-clr-alt: #1787e0;
  --main-transition: 300ms;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-bg: #ececec;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  min-height: 100vh;
  height: 3000px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* main title */
.main-title {
  text-transform: uppercase;
  margin: 0 auto 80px;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 30px;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
  transition: var(--main-transition);
  &::before,
  &::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-clr);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before {
    left: -30px;
  }
  &::after {
    right: -30px;
  }
  &:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
    &::before {
      z-index: -1;
      animation: left-move 0.5s linear forwards;
    }
    &::after {
      z-index: -1;
      animation: right-move 0.5s linear forwards;
    }
  }
  @keyframes right-move {
    to {
      width: 50%;
      height: 100%;
      border-radius: inherit;
      right: 0;
    }
  }
  @keyframes left-move {
    to {
      width: 50%;
      height: 100%;
      border-radius: inherit;
      left: 0;
    }
  }
}

// Start Header-----------------------------
header {
  position: relative;
  box-shadow: 0 0 20px #ddd;
  background: #fff;
  .container {
    position: relative;
    .logo {
      color: var(--main-clr);
      font-size: 26px;
      height: 50px;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .links {
      display: flex;
      justify-content: center;
      height: 40px;
      li {
        height: 100%;
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 4px;
          background: var(--main-clr);
          transition: var(--main-transition);
        }
        &:hover {
          a {
            color: var(--main-clr);
          }
          background-color: #fafafa;
          &::before {
            width: 100%;
          }
        }
      }
      a {
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        color: black;
        overflow: hidden;
        transition: var(--main-transition);
        font-size: 14px;
        padding: 10px;
        height: 100%;
      }
    }
    .mega-menu {
      z-index: -1;
      opacity: 0;
      top: calc(100% + 30px);
      .img {
        min-width: 330px;
        display: none;
        img {
          max-width: 100%;
          max-height: 100%;
          width: 100%;
        }
      }
      position: absolute;
      background: #fff;
      z-index: 1;
      width: 100%;
      top: 100%;
      left: 0;
      padding: 5px;
      border-bottom: 3px solid var(--main-clr-alt);
      border-top: 1px solid #e9e6e6;
      transition: top var(--main-transition), opacity var(--main-transition);
      ul {
        cursor: pointer;
        li {
          &:not(:last-child) {
            border-bottom: 1px solid #e9e6e6;
          }
          a {
            padding: 15px;
            height: 50px;
            color: var(--main-clr);
            font-size: 18px;
            font-weight: bold;
            display: block;
            padding-bottom: 36px;
            i {
              margin-right: 10px;
            }
          }
        }
      }
      &-active {
        z-index: 1;
        opacity: 1;
        top: 100%;
      }
    }
  }
  @media (min-width: 768px) {
    .container {
      display: flex;
      justify-content: space-between;
      height: 72px;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      .links {
        height: 100%;
        display: flex;
        a {
          font-size: 18px;
          padding: 0 30px;
        }
      }
      .mega-menu {
        display: flex;
        justify-content: center;
        gap: 40px;
        padding: 30px;
        & > * {
          width: 100%;
        }
        ul li {
          width: 100%;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .container .mega-menu .img {
      display: block;
    }
  }
  @media (min-width: 1200px) {
    .container .mega-menu .img {
      min-width: 523px;
    }
  }
}
// landing -----------------------------
.landing {
  background: var(--section-bg);
  height: calc(100vh - 72px);
  position: relative;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    height: 100%;
    text-align: center;
    position: relative;
    & > * {
      width: 100%;
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 28px;
        letter-spacing: -2px;
        margin: 0;
      }
      p {
        font-size: 18px;
        color: #666;
        max-width: 500px;
        line-height: 1.7;
        margin: 10px;
      }
    }
    .img {
      display: none;
      img {
        width: 600px;
        position: relative;
        animation: up-and-down 5s linear infinite;
      }
      @keyframes up-and-down {
        0%,
        100% {
          top: 0;
        }
        50% {
          top: -50px;
        }
      }
    }
    .go-down {
      position: absolute;
      color: var(--main-clr);
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      transition: var(--main-transition);
      i {
        animation: bouncing 1.5s infinite;
        @keyframes bouncing {
          0%,
          10%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
          40%,
          60% {
            transform: translateY(-15px);
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .landing .container .text {
    h1 {
      font-size: 40px;
    }
    p {
      font-size: 23px;
      margin-top: 10px;
    }
  }
}
@media (min-width: 992px) {
  .landing .container {
    justify-content: start;
  }
  .landing .container .text {
    text-align: left;
    h1 {
      margin-bottom: 0;
    }
    p {
      margin: 0;
      margin-top: 5px;
    }
  }
  .landing .container .img {
    display: block;
  }
}
.articles {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .box {
      box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
      background-color: white;
      border-radius: 6px;
      overflow: hidden;
      transition: transform var(--main-transition),
        box-shadow var(--main-transition);
      img {
        width: 100%;
        max-width: 100%;
      }
      .content {
        padding: 20px;
        h3 {
          margin: 0;
        }
        p {
          margin: 10px 0 0;
          line-height: 1.5;
          color: #777;
        }
      }
      .info {
        padding: 20px;
        border-top: 1px solid #e6e6e7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--main-clr);
        a,
        a:visited,
        a:active {
          color: inherit;
          font-weight: bold;
        }
        i {
        }
      }
      &:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
        .info i {
          animation: moving-arrow 0.6s linear infinite;
        }
        @keyframes moving-arrow {
          to {
            transform: translateX(10px);
          }
        }
      }
    }
  }
}
.gallery {
  background: var(--section-bg);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .box {
      position: relative;
      background: #fff;
      padding: 15px;
      box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
        0px 2px 4px 0px rgb(0 0 0 / 12%);
      .image {
        width: 100%;
        overflow: hidden;
        img {
          transition: var(--main-transition);
          max-width: 100%;
        }
      }
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transform: scale(0);
        background-color: rgb(255 255 255 / 20%);
        transition: var(--main-transition);
        z-index: 2;
      }
      &:hover {
        img {
          transform: rotate(5deg) scale(1.1);
        }
        &::before {
          animation: flashing 0.7s;
        }
        @keyframes flashing {
          0%,
          40% {
            opacity: 1;
          }
          50% {
            transform: scale(1);
          }
          100% {
            transform: scale(1);
            opacity: 0;
          }
        }
      }
    }
  }
}
.features {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .box {
      text-align: center;
      border: 1px solid #ccc;
      height: min-content;
      .img-holder {
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 53%, 0% 87%);
        transition: var(--main-transition);
        overflow: hidden;
        height: 50%;
        margin-bottom: 5px;
        img {
          width: 100%;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: -1px;
          width: 100%;
          height: 100%;
          opacity: 0.6;
        }
      }
      h2 {
        position: relative;
        font-size: 40px;
        margin: auto;
        width: -moz-fit-content;
        width: fit-content;
        display: flex;
        justify-content: center;
        &::after {
          position: absolute;
          content: "";
          width: calc(100% - 30px);
          height: 5px;
          bottom: -50%;
        }
      }
      p {
        line-height: 2;
        font-size: 20px;
        margin: 30px 0;
        padding: 25px;
        color: #777;
      }
      a {
        display: block;
        border: 3px solid transparent;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto 30px;
        font-weight: bold;
        font-size: 22px;
        padding: 10px 30px;
        border-radius: 6px;
        transition: var(--main-transition);
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          transition: var(--main-transition);
          z-index: -1;
        }
      }
      &.quality {
        .img-holder::before {
          background: #f44036;
        }
        h2::after {
          background: #f44036;
        }
        a {
          border: 3px solid #f44036;
          color: #f44036;
          &::after {
            background: #f44036;
          }
        }
      }
      &.time {
        .img-holder::before {
          background: #009688;
        }
        h2::after {
          background: #009688;
        }
        a {
          border: 3px solid #009688;
          color: #009688;
          &::after {
            background: #009688;
          }
        }
      }
      &.passion {
        .img-holder::before {
          background: #03a9f4;
        }
        h2::after {
          background: #03a9f4;
        }
        a {
          border: 3px solid #03a9f4;
          color: #03a9f4;
          &::after {
            background: #03a9f4;
          }
        }
      }
      &:hover {
        .img-holder {
          // clip-path: polygon(0 0, 100% 0%, 100% 87%, 0% 53%);
          clip-path: polygon(0 53%, 0 0, 100% 0, 100% 87%);
        }
        a {
          color: #fff !important;
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}
.testimonials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background: var(--section-bg);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 40px;
    row-gap: 60px;
    .box {
      position: relative;
      padding: 20px;
      background-color: white;
      box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
      border-radius: 6px;
      img {
        position: absolute;
        right: -10px;
        top: -50px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 10px solid var(--section-bg);
      }
      h3 {
        margin: 0 0 10px;
      }
      .title {
        color: #777;
        margin-bottom: 10px;
        display: block;
      }
      .filled {
        color: #ffc107;
      }
      p {
        line-height: 1.5;
        color: #777;
        margin-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}
.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .box {
      padding-top: 60px;
      position: relative;
      .data {
        display: flex;
        .links {
          width: 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          a {
            width: 100%;
            text-align: center;
            &:hover i {
              color: var(--main-clr);
            }
          }
          i {
            color: #777;
            transition: var(--main-transition);
          }
        }
        img {
          width: calc(100% - 60px);
          transition: var(--main-transition);
          border-radius: 10px;
        }
      }
      .info {
        padding-left: 60px;
        h3 {
          margin-top: 22px;
          margin-bottom: 0;
          color: var(--main-clr);
          font-size: 22px;
          transition: var(--main-transition);
        }
        p {
          margin-top: 10px;
          margin-bottom: 25px;
        }
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 0%;
        height: 100%;
        z-index: -1;
        background-color: #e4e4e4;
        border-radius: 10px;
        transition: var(--main-transition);
      }
      &:hover {
        .data img {
          filter: grayscale(100%);
        }
        .info h3 {
          color: #777;
        }
        &::after {
          width: calc(100% - 40px);
          filter: grayscale(100%);
        }
      }
    }
  }
}
.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background: var(--section-bg);
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    .box {
      text-align: center;
      background-color: white;
      box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
      counter-increment: services;
      transition: var(--main-transition);
      position: relative;
      i {
        margin: 30px auto 20px;
        display: block;
        text-align: center;
        color: #d5d5d5;
      }
      h3 {
        text-align: center;
        margin: 20px 0 40px;
        font-size: 25px;
        color: var(--main-clr);
      }
      .info {
        padding: 15px;
        text-align: right;
        position: relative;
        a {
          color: var(--main-clr);
        }
        &::after {
          position: absolute;
          content: "0" counter(services);
          top: 0;
          left: 0;
          height: 100%;
          width: 80px;
          padding-left: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--main-clr);
          color: #fff;
          font-size: 30px;
          font-weight: bold;
        }
        &::before {
          position: absolute;
          content: "";
          top: 0;
          left: 60px;
          height: 100%;
          width: 75px;
          transform: skew(-25deg);
          background: linear-gradient(
            90deg,
            var(--main-clr) 0 50%,
            #d5d5d5 50%
          );
        }
      }
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 3px;
        width: 100%;
        background: var(--main-clr);
        transition: var(--main-transition);
        transform: scaleX(0);
      }
      &:hover {
        &::before {
          transform: scaleX(1);
        }
        transform: translateY(-10px);
      }
    }
  }
}
.skills {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  .container {
    .skill {
      width: 100%;
      h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0;
        .percent {
          font-size: 12px;
          border: 1px solid #ccc;
          padding: 3px 5px;
          border-radius: 4px;
          color: var(--main-clr);
        }
      }
      .progress-bar {
        width: 100%;
        height: 30px;
        background-color: #eee;
        position: relative;
        .fill {
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 100%;
          background-color: var(--main-clr);
          // transition: var(--main-transition);
          transition: width 0.5s linear;
        }
      }
    }
  }
}
