@use "variables" as *;
@mixin section-padding {
  padding-top: $main-padding;
  padding-bottom: $main-padding;
}
@mixin grid-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
@mixin grid-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex($c: normal, $i: normal, $d: row, $g: 0, $w: nowrap) {
  display: flex;
  justify-content: $c;
  align-items: $i;
  flex-direction: $d;
  gap: $g+px;
  flex-wrap: $w;
}