$main-clr: #2196f3;
$main-clr-alt: #1787e0;
$main-bg: #fff;
$sec-bg: #ececec;
$helper-clr: #ddd;
$main-transition: 300ms;
$main-padding: 100px;
$blue: #2196f3;
$blue-alt: #1787e0;
$white: #fff;
$white-alt: #ececec;
$white-alt2: #ddd;
$white-alt3: #aaa;
$gray1: #444;
$gray2: #555;
$bg1: #1b262c;
$bg2: #0d171d;
$bg3: #2b2b2b;
